<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>Message Oriented Architecture</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <env-entry>
        <env-entry-name>java:global/IMPORT_PATH</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>file://C:/data/input</env-entry-value>
    </env-entry>

</web-app>
